<div>
  <button (click)="goBack()">Back</button>
  <h1>Return Book</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Entity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.name }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.entity }}</td>
        <td><button (click)="handleReturn(book._id)">Return</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
  <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
</div>
